<!DOCTYPE html>
<html ng-app="myApp">
    <head>
         <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://apis.google.com/js/client.js"></script>

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <title>Lab4 Poster</title>
    </head>
    <body>
    <script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      testAPI();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '767782279994083',
    cookie     : true, 
                        
    xfbml      : true,  
    version    : 'v2.2' 
  });
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>


<div id="status">
</div>
    <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
        <div class="container" ng-controller="AppCtrl">
            <h1>Lab 4 Comment Poster</h1>
            <nav class ="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Logins</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><button ng-click="auth()" style="padding-top: 20px;background-color: transparent; border: none;">Google</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>Title</h4><input class="form-control" ng-model="Comment.name"/><br/>
                        <h4>Message</h4><input class="form-control" ng-model="Comment.message"/></td>
                        <td style="vertical-align:middle"><button class="btn btn-primary" ng-click="addComment()">Add Comment</button></td>
                        <td style="vertical-align:middle"><button class="btn btn-info" ng-click=updateComment()>Update</button><br/><br/>
                        <button class="btn btn-info" ng-click="deselect()">Clear</button></td>
                    </tr>
                    <tr ng-repeat="comment in commentlist">
                        <td><strong>Title:</strong> {{comment.name}}<br/>
                        <strong>Message: </strong>{{comment.message}}</td>
                        <td><button class="btn btn-danger" ng-click="removeComment(comment._id)">Remove</button></td>
                        <td><button class="btn btn-warning" ng-click="editComment(comment._id)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
        <script src="Controllers/controller.js"></script>
        
        	<script src="view-source:http:/connect.facebook.net/en_US/all.js" type="text/javascript"></script> 
	<script type="text/javascript"></script> 
    </body>

</html>